Pysensor.code-workspace
.vscode/launch.json
*.json
*.dot
log_filename.txt
bins/EJ20/Unknown - Possibly USDM/744017-Unknown-EJ20T-data.txt
argparse
test.sh
bins/703243-1991-EDM-Legacy-EJ22.bin
bins/703315-1990-JDM-Legacy-EJ20.bin
bins/703942-1990-Euro-Legacy-EJ18.bin
bins/703943-1990-Euro-Legacy-EJ18.bin
bins/722515-1992-JDM-SVX-EG33.bin
bins/722521-1991-USDM-SVX-EG33.bin
bins/722525-1992-USDM-SVX-EG33.bin
bins/722527-1993-USDM-SVX-EG33.bin
bins/722531-1996-UK-SVX-EG33.bin
bins/7232A5-1992-UK-Legacy-EJ22.bin
bins/7237A2-1992-EDM-Legacy-EJ20.bin
bins/7237A5-1992-EDM-Legacy-EJ20.bin
bins/733257-1993-Canada-Legacy-EJ22.bin
bins/733F17-1996-JDM-Impreza-EJ15.bin
bins/742512-1994-JDM-SVX-EG33.bin
bins/742521-1994-USDM-SVX-EG33.bin
bins/742541-1994-MidEast-SVX-EG33.bin
bins/7432A1-1996-UKDM-Legacy-EJ22.bin
bins/743A17-1995-JDM-Legacy-TT.bin
bins/744011-1994-JDM-Wrx-EJ20T.bin
bins/744014-1995-JDM-Wrx-EJ20T.bin
bins/74401A-1995-JDM-WrxRA-EJ20T.bin
bins/74401E-1996-JDM-WrxSTiV2RA-7K.bin
bins/781150-1988-EDM-Lseries-EA82T.bin
bins/EJ15/JDM/733F17-1996-JDM-Impreza-EJ15.bin
bins/EJ15/JDM/733F17-1996-JDM-Impreza-EJ15-code.zip
bins/EJ15/JDM/733F17-1996-JDM-Impreza-EJ15-data.txt
bins/EJ15/JDM/Func00C0.txt
bins/EJ15/JDM/Func00DC.txt
bins/EJ15/JDM/Func00EB.txt
bins/EJ15/JDM/Func00F7.txt
bins/EJ15/JDM/Func011A.txt
bins/EJ15/JDM/Func013F.txt
bins/EJ15/JDM/Func0175.txt
bins/EJ15/JDM/Func019C.txt
bins/EJ15/JDM/Func01AF.txt
bins/EJ15/JDM/Func01BB.txt
bins/EJ15/JDM/Func01DE.txt
bins/EJ15/JDM/Func01EC.txt
bins/EJ15/JDM/Func01FA.txt
bins/EJ15/JDM/Func0208.txt
bins/EJ15/JDM/Func0223.txt
bins/EJ15/JDM/Func0230.txt
bins/EJ15/JDM/Func023D.txt
bins/EJ15/JDM/Func0277-3D-Map-Lookup.txt
bins/EJ15/JDM/Func02D4.txt
bins/EJ15/JDM/Func02F1.txt
bins/EJ15/JDM/Func06A6.txt
bins/EJ15/JDM/Func085C.txt
bins/EJ15/JDM/Func08FC.txt
bins/EJ15/JDM/Func09BF.txt
bins/EJ15/JDM/Func0AA0-Calculate-Load.txt
bins/EJ15/JDM/Func0B7D.txt
bins/EJ15/JDM/Func0EF9.txt
bins/EJ15/JDM/Func0F56.txt
bins/EJ15/JDM/Func1207.txt
bins/EJ15/JDM/Func1365.txt
bins/EJ15/JDM/Func178B.txt
bins/EJ15/JDM/Func1AE9.txt
bins/EJ15/JDM/Func1C69.txt
bins/EJ15/JDM/Func1C8C.txt
bins/EJ15/JDM/Func1D17.txt
bins/EJ15/JDM/Func1EB7.txt
bins/EJ15/JDM/Func1EDE.txt
bins/EJ15/JDM/Func1F53.txt
bins/EJ15/JDM/Func1F7E.txt
bins/EJ15/JDM/Func1FA6.txt
bins/EJ15/JDM/Func2101.txt
bins/EJ15/JDM/Func2114.txt
bins/EJ15/JDM/Func218F.txt
bins/EJ15/JDM/Func219F.txt
bins/EJ15/JDM/Func21F7.txt
bins/EJ15/JDM/Func22A4.txt
bins/EJ15/JDM/Func22B9.txt
bins/EJ15/JDM/Func234A.txt
bins/EJ15/JDM/Func2387.txt
bins/EJ15/JDM/Func23C0.txt
bins/EJ15/JDM/Func23DB.txt
bins/EJ15/JDM/Func2599.txt
bins/EJ15/JDM/Func26D5.txt
bins/EJ15/JDM/Func2865.txt
bins/EJ15/JDM/Func2872.txt
bins/EJ15/JDM/Func2887.txt
bins/EJ15/JDM/Func289C.txt
bins/EJ15/JDM/Func28BE.txt
bins/EJ15/JDM/Func2903.txt
bins/EJ15/JDM/Func293A.txt
bins/EJ15/JDM/Func2955.txt
bins/EJ15/JDM/Func29E2.txt
bins/EJ15/JDM/Func2A9B.txt
bins/EJ15/JDM/Func2B02.txt
bins/EJ15/JDM/Func2C8B.txt
bins/EJ15/JDM/Func3233.txt
bins/EJ15/JDM/Func392D.txt
bins/EJ15/JDM/Func395D.txt
bins/EJ15/JDM/Func39CA.txt
bins/EJ15/JDM/Func3AD4.txt
bins/EJ15/JDM/Func3AF4.txt
bins/EJ15/JDM/Func3AFD.txt
bins/EJ15/JDM/Func3B13.txt
bins/EJ15/JDM/Func3B26.txt
bins/EJ15/JDM/Func3BBF.txt
bins/EJ15/JDM/Func3BC2.txt
bins/EJ15/JDM/Func3D4B.txt
bins/EJ15/JDM/Func3D87.txt
bins/EJ15/JDM/Func3DB9.txt
bins/EJ15/JDM/Func3E2E.txt
bins/EJ15/JDM/Func3FC8.txt
bins/EJ15/JDM/Func409B-Test-Crank-Sensor.txt
bins/EJ15/JDM/Func40FC-Test-MAF.txt
bins/EJ15/JDM/Func4148-Test-Temperature.txt
bins/EJ15/JDM/Func4197-Test-TPS.txt
bins/EJ15/JDM/Func41E4-Test-O2-Sensor.txt
bins/EJ15/JDM/Func4244-Test-Speed-Sensor.txt
bins/EJ15/JDM/Func42AA-Test-N-Switch.txt
bins/EJ15/JDM/Func4301-Test-Starter.txt
bins/EJ15/JDM/Func43AF-Test-Idle-Solenoid.txt
bins/EJ15/JDM/Func44B6-Test-Purge-Solenoid.txt
bins/EJ15/JDM/Func453E-Test-Air-Sensor.txt
bins/EJ15/JDM/Func457D.txt
bins/EJ15/JDM/Func4594.txt
bins/EJ15/JDM/Func45A9-Error-Code.txt
bins/EJ15/JDM/Func4799-Clear-Errors.txt
bins/EJ15/JDM/Func47CC.txt
bins/EJ15/JDM/Func49D0-Reset-Vector.txt
bins/EJ15/JDM/Func49F4.txt
bins/EJ15/JDM/Func4A09.txt
bins/EJ15/JDM/Func4A0F.txt
bins/EJ15/JDM/Func4A20.txt
bins/EJ15/JDM/Func4A56.txt
bins/EJ15/JDM/Func4A78.txt
bins/EJ15/JDM/Func4A8B.txt
bins/EJ15/JDM/Func4AA7.txt
bins/EJ15/JDM/Func4ABC.txt
bins/EJ15/JDM/Func4C71.txt
bins/EJ15/JDM/Func4C8B-FRT1-ICI-Vector.txt
bins/EJ15/JDM/Func5203.txt
bins/EJ15/JDM/Func5221.txt
bins/EJ15/JDM/Func5248.txt
bins/EJ15/JDM/Func5255-FRT1-FOVI-Vector.txt
bins/EJ15/JDM/Func5268-FRT2-OCIB-Vector.txt
bins/EJ15/JDM/Func53E2-FRT1-OCIA-Vector.txt
bins/EJ15/JDM/Func5464.txt
bins/EJ15/JDM/Func5483-IRQ0-Vector.txt
bins/EJ15/JDM/Func5542-Read-Speed-Sensor.txt
bins/EJ15/JDM/Func5577-Read-MAF.txt
bins/EJ15/JDM/Func55A0.txt
bins/EJ15/JDM/Func5647.txt
bins/EJ15/JDM/Func5660.txt
bins/EJ15/JDM/Func5689.txt
bins/EJ15/JDM/Func56A9.txt
bins/EJ15/JDM/Func5701.txt
bins/EJ15/JDM/Func5757-FRT2-OCIA-Vector.txt
bins/EJ15/JDM/Func5788-FRT3-OCIA-Vector.txt
bins/EJ15/JDM/Func57B9.txt
bins/EJ15/JDM/Func57D0-FRT1-OCIB-Vector.txt
bins/EJ15/JDM/Func5847-TrapA15-Vector.txt
bins/EJ15/JDM/Func5851-AddrError-Vector.txt
bins/EJ15/JDM/Func5857-Inv-Inst-Vector.txt
bins/EJ15/JDM/Func585D-ZeroDivide-Vector.txt
bins/EJ15/JDM/Func58B6-SCI-ERI-Vector.txt
bins/EJ15/JDM/Func58E3.txt
bins/EJ15/JDM/Func58F5.txt
bins/EJ15/JDM/Func590A.txt
bins/EJ15/JDM/Func591F.txt
bins/EJ15/JDM/Func5934-SCI-TXI-Vector.txt
bins/EJ15/JDM/Func5939-SCI-RXI-Vector.txt
bins/EJ15/JDM/Func59F3.txt
bins/EJ15/JDM/Func5B0F.txt
bins/EJ15/JDM/Func5B5A.txt
bins/EJ15/JDM/Func5B6F.txt
bins/EJ15/JDM/Func5B7F-NMI-Vector.txt
bins/EJ18/EU/703942-1990-Euro-Legacy-EJ18.bin
bins/EJ18/EU/703942-1990-Euro-Legacy-EJ18-data.txt
bins/EJ18/EU/703943-1990-Euro-Legacy-EJ18.bin
bins/EJ18/EU/703943-1990-Euro-Legacy-EJ18-code.txt
bins/EJ18/EU/703943-1990-Euro-Legacy-EJ18-data.txt
bins/EJ18/USDM/753C21-1995-USDM-Impreza-EJ18.bin
bins/EJ18/USDM/753C21-1995-USDM-Impreza-EJ18-code.txt
bins/EJ18/USDM/753C21-1995-USDM-Impreza-EJ18-data.txt
bins/EJ20/EDM/7237A2-1992-EDM-Legacy-EJ20.bin
bins/EJ20/EDM/7237A2-1992-EDM-Legacy-EJ20-code.txt
bins/EJ20/EDM/7237A2-1992-EDM-Legacy-EJ20-data.txt
bins/EJ20/EDM/7237A5-1992-EDM-Legacy-EJ20.bin
bins/EJ20/EDM/7237A5-1992-EDM-Legacy-EJ20-code.txt
bins/EJ20/EDM/7237A5-1992-EDM-Legacy-EJ20-data.txt
bins/EJ20/JDM/703315-1990-JDM-Legacy-EJ20.bin
bins/EJ20/JDM/703315-1990-JDM-Legacy-EJ20-code.txt
bins/EJ20/JDM/703315-1990-JDM-Legacy-EJ20-data.txt
bins/EJ20/JDM/744011-1994-JDM-Wrx-EJ20T.bin
bins/EJ20/JDM/744011-1994-JDM-Wrx-EJ20T-code.txt
bins/EJ20/JDM/744011-1994-JDM-Wrx-EJ20T-data.txt
bins/EJ20/JDM/744014-1995-JDM-Wrx-EJ20T.bin
bins/EJ20/JDM/744014-1995-JDM-Wrx-EJ20T-code.txt
bins/EJ20/JDM/744014-1995-JDM-Wrx-EJ20T-data.txt
bins/EJ20/JDM/74401A-1995-JDM-WrxRA-EJ20T.bin
bins/EJ20/JDM/74401A-1995-JDM-WrxRA-EJ20T-code.txt
bins/EJ20/JDM/74401A-1995-JDM-WrxRA-EJ20T-data.txt
bins/EJ20/UKDM/742FA1-1996-UKDM-Legacy-EJ20.bin
bins/EJ20/UKDM/742FA1-1996-UKDM-Legacy-EJ20-code.txt
bins/EJ20/UKDM/742FA1-1996-UKDM-Legacy-EJ20-data.txt
bins/EJ20/UKDM/744042-1994-UKDM-Wrx-EJ20T.bin
bins/EJ20/UKDM/744042-1994-UKDM-Wrx-EJ20T-code.txt
bins/EJ20/UKDM/744042-1994-UKDM-Wrx-EJ20T-data.txt
bins/EJ20/Unknown - Possibly USDM/744017-Unknown-EJ20T.bin
bins/EJ20/Unknown - Possibly USDM/744017-Unknown-EJ20T-code.txt
bins/EJ22/Canada/733257-1993-Canada-Legacy-EJ22.bin
bins/EJ22/Canada/733257-1993-Canada-Legacy-EJ22-code.txt
bins/EJ22/Canada/733257-1993-Canada-Legacy-EJ22-data.txt
bins/EJ22/EDM/703243-1991-EDM-Legacy-EJ22.bin
bins/EJ22/EDM/703243-1991-EDM-Legacy-EJ22-code.txt
bins/EJ22/EDM/703243-1991-EDM-Legacy-EJ22-data.txt
bins/EJ22/UK/7232A5-1992-UK-Legacy-EJ22.bin
bins/EJ22/UK/7232A5-1992-UK-Legacy-EJ22-code.txt
bins/EJ22/UK/7232A5-1992-UK-Legacy-EJ22-data.txt
bins/EJ22/UK/UKDM/7432A1-1996-UKDM-Legacy-EJ22.bin
bins/EJ22/UK/UKDM/7432A1-1996-UKDM-Legacy-EJ22-code.txt
bins/EJ22/UK/UKDM/7432A1-1996-UKDM-Legacy-EJ22-data.txt
bins/Modified Binary/742512-MOD1.bin
bins/Modified Binary/742512-MOD1-diff.txt
sys
